body,
html{
	width: 100%;
	height: 100%;
	font-family: 'Staatliches', cursive;
	background-image: url(https://images.hdqwalls.com/wallpapers/tree-alone-dark-evening-4k-ay.jpg); no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

h1{
	font-family: 'Staatliches', cursive;
	font-size: 60px;
}
